@font-face {
    font-family: 'Norse Bold';
    src: url(fonts/Norse-Bold.otf);
}

* {
    font-family: sans-serif;
    color:rgb(15, 15, 15);
}

body,
html {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    display: flex;
    background-color: rgb(15, 15, 15);
    width: 100%;
    justify-content: center;
}

body {
    width: 65%;
    display: flex;
    flex-direction: row;
}

.logo-and-image {
    background-image: url(images/halie-west-25xggax4bSA-unsplash.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    width: 38%;
}

.logo {
    background-color: rgba(0, 0, 0, 0.5);
    height: fit-content;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 10px;
    position: relative;
    top: 22%;
}

.logo-image {
    width: 85px;
    height: 100%;
}

.logo-text {
    font-family: 'Norse Bold', serif;
    color: white;
    font-size: 85px;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
}

.sign-up {
    width: 62%;
    height: 100vh;
    background-color: rgb(246, 247, 246);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.sign-up-text {
    width: 82%;
    font-family: sans-serif;
    font-size: 22px;
    color:rgb(15, 15, 15);
    font-weight: 600;
    padding-left: 50px;
    box-sizing: border-box;
    padding-bottom: 60px;
    padding-top: 100px;
}

.sign-up-form {
    width: 100%;
}

.form-info {
    background-color: white;
    width: 100%;
    padding-left: 50px;
    box-sizing: border-box;
    padding-top: 5px;
    padding-bottom: 10px;
    box-shadow: 0px 3px 10px -2px lightgray;
}

.form-text {
    font-weight: 600;
    font-size: 22px;
}

.row-one,
.row-two,
.row-three {
    display: flex;
    flex-direction: row;
}

label {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-right: 60px;
    padding-bottom: 16px;
    font-size: 11px;
    font-weight: 700;
    color: rgb(66, 66, 66);
    letter-spacing: 1px;
    flex-wrap: nowrap;
}

input {
    width: 220px;
    height: 22px;
    border-radius: 6px;
    margin-top: 4px;
    border: 2px solid #E5E7EB;
    padding: 2px 8px;
    font-size: 14px;
}

input:user-invalid:invalid {
    border: 2px solid red;
}

input:focus {
    appearance: none;
    outline: none;
    border: 2px solid rgb(0, 89, 206);
    box-shadow: 0px 0px 5px -2px;
}

input + span::after {
    content: 'required';
    position: relative;
    box-sizing: border-box;
    display: block;
    top: -45px;
    right: -188px;
}

.form-button {
    padding-left: 55px;
    padding-top: 30px;
}

button {
    background-color: #596D48;
    border: none;
    border-radius: 6px;
    color: white;
    height: 40px;
    width: 182px;
    font-size: 15px;
    font-weight: 700;
    box-shadow: 0px 0px 10px -2px gray;
}

button:hover {
    background-color: #718b5b;
    box-shadow: 0px 0px 10px 0px gray;
    cursor: pointer;
}